.body {
    
            font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: white ;
            -webkit-font-smoothing: antialiased ;
             background: url(../img/mountainbg.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
            
            
    
}

.body-others {
    
            font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: white ;
            -webkit-font-smoothing: antialiased ;
            background-color: #2987B8;
    
}
    
.flags {

            margin-top: 3px;
            width: 25px;
            height: 15px;
            position: relative;
            left: -290px;
            
}
        
.container {
            
            margin: -50px auto;
            margin-top: -50px;
            text-align: center;
            width: 100%;
            height: 50%;
            padding-top: 400px;
}

.container-others {
    
            margin: 25px auto;
            text-align: center;
            width: 100%;
            height: 50%;
            padding-top: 80px;
    
}

#navbar-trans{
            background: transparent;
}
        
a {
            margin: 10px;
            text-decoration: none;
            color: white !important;
}
        
p {
            font-size: 18px;
            
            
}
        
.bold{
            font-weight: bold;
}

.nav-bg {
    background-color: #2886B7;
}

.chapter {
    
    margin: 30px;
    
}

.experience-top {
    
    margin-top: 50px;
    
}

.i {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-margin {
    margin-left: -250px;
}

carousel-margin {
    margin-top: -500px; 
}



img-resize{
    
    height: 10px;
    
}

.carousel-indicators{
    
    position: relative;
    top: 650px;
    
}

#badges-adjustment{
    margin-top: -325px;
    padding-top: ;
    
}

.badges-h1 {
    
    margin-bottom: 100px;
    
}